/* Fourth Section */
.about {
  background-color: $color--main-1;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto auto;
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }

  &__text-box {
    max-width: 90%;
    @include justify-align-self(center, center);
    p {
      color: $color--section-background;
      line-height: normal;
    }
    h4 {
      margin-top: 40px;
      margin-bottom: 13px;
      color: $color--title-1;
    }
  }

  &__img {
    grid-row: 2;
    margin-top: 43px;
    min-width: 100%;
    @media (min-width: 900px) {
      grid-row: 1;
      margin: 0;
      min-width: 70%;
    }
  }
}
