/* First section */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
.first-section {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

article img {
  padding: 20px;
}

.article-text {
  max-width: 50%;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.company-logo {
  background-color: #d8d8d8;
  padding: 3px 60px;
  font-weight: bold;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.banner {
  background-image: url("https://via.placeholder.com/1440x782?/");
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  max-width: 100%;
  min-height: 782px;
}

.banner-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  max-width: 600px;
  margin: 0px;
}

h1 {
  font-size: 52px;
  margin: inherit;
  letter-spacing: 1.92px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
}

p {
  margin: inherit;
  letter-spacing: 0.63px;
  line-height: 26px;
}

.navbar {
  padding: 20px;
  width: 100%;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links {
  padding: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0px 20px;
  font-size: 16px;
}

/* Second Section */
.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 50px 0px 90px 0px;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-item {
  margin: 10px;
  min-height: 90px;
  min-width: 90px;
  max-width: 170px;
  max-height: 170px;
  -ms-flex-preferred-size: 15vw;
      flex-basis: 15vw;
}

/* Third Section */
.third-section {
  padding: 100px;
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-section-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1em;
  max-width: 90%;
}

.img-three {
  grid-row: span 2;
}

.img-four {
  grid-column: span 2;
}

/* Fourth Section */
.fourth-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.fourth-section-text {
  max-width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Fifth Section */
.fifth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 600px;
  background-color: #f8f8f8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px;
}

.fifth-section-container {
  padding: auto;
  max-height: 600px;
  max-width: 90%;
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 3fr 1fr 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth-section-text {
  background-color: white;
  border-left: solid white 50px;
  border-right: solid white 50px;
  border-top: solid white 20px;
  border-bottom: solid white 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  z-index: 1;
}

.first-fifth-img-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.second-fifth-img-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 /7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.big-section-img {
  grid-row: span 2;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
  width: 100%;
  min-height: 300px;
}

.footer-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.footer-nav-links {
  padding: 2px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 900px) {
  /* first section */
  article {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  article:nth-of-type(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-text {
    max-width: 100%;
  }
  /* third section */
  .img-wrap {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 1em;
  }
  .third-section {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    padding: 30px;
  }
  .img-three {
    display: none;
  }
  /* fourth  section */
  .fourth-section {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fourth-section-img {
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 20px;
    min-width: 100%;
  }
  /* fifth section */
  .big-section-img {
    display: none;
  }
  .fifth-section-container {
    -ms-grid-rows: 2fr 1fr 2fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr 1fr 2fr;
    min-height: 500px;
  }
  .first-fifth-img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .second-fifth-img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 /6;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .fifth-section-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
    font-size: 13px;
    margin: -30px;
  }
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 440px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  a {
    padding: 0px 10px;
    font-size: 15px;
  }
  .company-logo {
    margin-top: 10px;
  }
  h1 {
    font-size: 30px;
  }
  .banner-text {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */