@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: $font--main;
}

.company-logo {
  font-family: $font--company;
  color: $color--title-1;
  align-self: center;
  p {
    font-size: 27px;
    margin-bottom: 10px;
  }
}

h1 {
  color: $color--title-1;
  font-size: 27px;
  letter-spacing: 1px;
  margin: inherit;
  margin-left: 0;
  @media (min-width: 600px) {
    font-size: 52px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: $color--title-2;

  @media (min-width: 600px) {
    font-size: 48px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1.11px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  color: $color--title-2;
  margin-bottom: 3px;
  letter-spacing: 0.92px;
  @media (min-width: 600px) {
    font-size: 36px;
  }
}

h4 {
  font-size: 18px;
  @media (min-width: 900px) {
    font-size: 24px;
  }
}

p {
  margin: 0;
  letter-spacing: 0.63px;
  line-height: 26px;
  font-size: 14px;
  @media (min-width: 900px) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
